<div class="default" *ngIf="appState == 'default'">
    <h1>Add Todo</h1>
    <form>
        <input type="text" [(ngModel)]="text" name='text'>
        <button (click)="addTodo()">Add</button>
    </form>
</div>

<div class="edit" *ngIf="appState == 'edit'">


    <!-- EDIT TODO -->

    <h1>Edit Todo</h1>
    <form (ngSubmit)="updateTodo()">
        <input type="text" [(ngModel)]="text" name='edit'>
    </form>
</div>


<!-- Date Picker -->
<form>
    <label>Choose a date</label>
    <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" (dateChange)="dateChange($event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</form>



<br><br><br>
<!-- Next Page -->

<div class="list-todos incomplete">
    <ul *ngFor="let todo of todos">
        <!-- <div *ngIf="!this.todo.isComplete"> -->
        <button class="done" (click)="onDoneBtn(todo)">done</button>
        <span class="todo-ist" (click)="onEdit(todo)">{{todo.text}}</span>
        <button class="edit-btn" (click)="onEdit(todo)">Edit</button>
        <button class="deletBtn" (click)="onDelet(todo.id)">X</button>

    </ul>
</div>

<h1>Date changing</h1>
<div>
    {{dueDate | date}}
</div>


<!-- Dropdown -->
<h4>Basic mat-select</h4>
<mat-form-field appearance="fill">
    <mat-label>Ptiority</mat-label>
    <mat-select [(value)]="selectedValue">
        <mat-option value="high">High</mat-option>
        <mat-option value="medium">Medium</mat-option>
        <mat-option value="low">Low</mat-option>
    </mat-select>
</mat-form-field>
{{selectedValue}}

<br><br><br>

<h1>Completed</h1>

<ul *ngFor="let item of complete">
    <li>{{item.text}}

        <button class="deletBtn" (click)="onDeletComplete(item.id)">X</button>
    </li>
</ul>