
.list-item{
    display: flex;
}
.check{
display: flex;
 margin: 10px;
 border-radius: 50% solid black;
}

.text-area{
    display: flex;
    border: 1px solid black;
    padding: 5pt;
    
}

.edit{
    margin: 10px;
}
.delet{
    margin: 10px;
}